body{
    background-color:#c4b9a4;
}
html{
	width: 100%;
	height: 100%;
}

.div-header{
	text-align: center;
	height: 300px;
	padding-top: 10%;
	
}

.main-header
{  
    background:linear-gradient(0deg,rgba(255,255,255,0.3),rgba(0,0,0,0.3)),url("http://www.yahel-eng.co.il/data/images/3361_c9a7e400921b5e201e9a221af7a4b31b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 30%;	
}


.main{
    margin-top:2%;
    text-align: right;
    color: black;
    background: #c4b9a4;
    border:solid 1px black;
    height: 100%;

}

.map{
	height: 500px;
	width: 100%;
	border: solid 1px red;
}
h1.title{
	font-size:72px;
	color:black;
	
}
.p-1{
	line-height: 0.5cm;
	font-size:24px;
}

/*All Services*/
.img-services{
	width:100%;
	float: center;
	margin: 1.66%;
}

h1{
	text-align: center;
}

a{
	text-decoration: none;
	color:black;
	font-weight: bold;
	
}

.div-1{
	text-align: center;

}

.non-active{
	
	cursor: not-allowed;
	pointer-events: auto;
}

a:hover{
	color:grey;
	text-decoration: none;
}


/*view all projects*/
.project{
	font-size:24px;
	text-align: right;
	margin-bottom: 20px;
	margin-top: 20px;
}
.bProject{
	align-items: center;
	margin-top:50px;

}

/*oneProject*/
.oneProject{
	font-size:24px;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.projectImage{
	width:100%;

}

/*about us*/
.aup{
	text-align: right;
	border: solid 1px black;
}


/*new request*/


	.newReq li{
		display: block;
	}

	.newReq{
		text-align: center;

	}
	.newReq input{
		background-color: #c4b9a4;
		border:1px solid grey;
		width: 300px;
		height: 30px;	
	}
	.newReq{
		margin-top: 20px;
	}
	.newReq select{
		background-color: #c4b9a4;
		border:1px solid grey;
		width: 300px;
		height: 30px;	
	}
	.newReq textarea{
		background-color: #c4b9a4;
		border:1px solid grey;
		width: 300px;
		vertical-align: middle;
		height: 80px;
	}
	#send{
		
		background: #0ba869;
		width: 70px;
		height: 40px;
	}
	#send:hover{
		
		background: #21dd92;

	}
	#zero{
		
		background: grey;
		width: 70px;
		height: 40px;
	}
	#zero:hover{
		
		background: #efefef;
	}
	.mainForm label{
		width:150px;
	}
	.mainForm{
		font-size: 18px;
		font-weight: bold;
	}