img{
	width:100%;
	float: center;
	margin: 1.66%;
}

body{
	background-color:#c4b9a4;

h1{
	text-align: center;
}

a{
	text-decoration: none;
	color:black;
	font-weight: bold;
	
}

.div-1{
	text-align: center;

}

.non-active{
	
	cursor: not-allowed;
	pointer-events: auto;
}

a:hover{
	color:grey;
	text-decoration: none;
}
