body{
    background:url(https://www.ynet.co.il/PicServer5/2018/03/14/8405654/HB5.jpg); 
background-repeat: no-repeat;
background-size: cover;
background-color: transparent;
}



.header{
    margin: 2%;
    text-align: right;
    color: black;
    background: white;

}
