body{
    background:url(https://www.ynet.co.il/PicServer5/2018/03/14/8405654/HB5.jpg); 
background-repeat: no-repeat;
background-size: cover;
}

h3{
    
}

.header{
    text-align: right;
    color: white;

}