#logoAndHead{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#image1{
	width: 70%;
}
#para1{
	color:blue;
}

.menu{
	background-color: orange;
	font-size: 20px;
}

.pmain{
	text-align: left;
	color:black;
	font-family: David;
	width: 60%;
	float:left;
	background-image: url(https://previews.123rf.com/images/terriana/terriana1210/terriana121000011/15636374-coffee-beans-seamless-pattern-background.jpg);



}

.pnews{
	width: 40%;
	float: right;
	background: pink;
	/*padding: 15px;*/
	position: relative;	

}

.tableAndList{
	clear: both;
	text-align: center;
	align-items: center;

}

.table1{
	width: 40%;
	color:red;
	border:solid 1px green;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}
.pfooter{
	position: fixed;
	top:0px;
	right:0px;
	background: yellow;
	width: 300px;
	border:3px solid red;
}